@import "compass/typography/lists/horizontal-list";
@import "compass/css3/text-shadow";

#admin_menu {
	
	ul.nav {
		@include horizontal-list-container;
		margin: 0 10px;
		> li {
			@include horizontal-list-item(10px, left);
			@include text-shadow(rgba(0, 0, 0, 0.6) 0px 1px 1px);
		}
		.right {
			@include horizontal-list-item(10px, right);
		}
		.selected {
			a {color: #FB292D;}
		}
	}
}

@media print {
	a {color: red;}
}