!!! 5
%html
	%head
		%title DemoTheme
		= hook :head_include_section do
			=render "shared/header"
	%body
		%p.code
			- @page.css_files.map{|f| f.abstract_path}.each do |f|
				= raw "#{f} <br />"
		= yield