- resource.attributes.each_pair do |field, value|
  - next if ['id', 'created_at', 'updated_at'].include?(field)
  %tr
    %td= field.titleize
    %td= f.text_field field.to_sym
%tr
  %td{:colspan => "2"}= f.submit